.CharacterContainer {
  width: 90%;
  margin: 2em auto;
}

.CharacterContainer--list {

}

.CharacterContainer-transitions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.transition-cards-enter {
  opacity: 0.01;
  left: 50px;
}

.transition-cards-enter.transition-cards-enter-active {
  opacity: 1;
  left: 0;
  transition: opacity 700ms ease-in, left 700ms;
}

.transition-cards-leave {
  opacity: 1;
}

.transition-cards-leave.transition-cards-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
