.CharacterContainer {
  width: 90%;
  margin: 2em auto;
}

.CharacterContainer--list {

}

.CharacterContainer--rank {

}

.transitions {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.marvel-enter {
  opacity: 0.01;
}

.marvel-enter.marvel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.marvel-leave {
  opacity: 1;
}

.marvel-leave.marvel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
