.CharacterContainer {
  width: 90%;
  margin: 2em auto;
}

.CharacterContainer--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.CharacterContainer--rank {

}
