.Form {
  line-height: 3em;
  padding: 1.5em;
  margin: 1em auto;
}

.Form--label {
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
  font-size: 1.3em;
}
input,
input:-webkit-autofill {
  background-color: whitesmoke !important;
}

.Form--input {
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  background: whitesmoke;
  font-size: 1.1em;
  border: 1px inset rgba(0,0,0,.3);
  padding: 5px 7px;
  width: 200px;
}

.Form--btn {
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  border: none;
  color: whitesmoke;
  margin-left: 1.5em;
  padding: .5em 1.5em;
  font-size: 1.25em;
  background: #212121;
  transform: skewX(-10deg);
  cursor: pointer;
}

.Form--input,
.Form--btn {
  vertical-align: middle;
  outline: none;
}
